assemble:
  - from: dist
    include: "*.css"
    into: static/
  - from: dist
    include: "*.js"
    into: static/
{{ nameKebabCase}}:
  type: customElement
  cssURLs:
    - /my-app.css
  friendlyURLMapping: {{ nameKebabCase}}
  htmlElementName: {{ nameKebabCase}}
  instanceable: false
  name: my-app
  portletCategoryName: category.client-extensions
  properties: {}
  description: ""
  urls:
    - /my-app.js
  useESM: true
  sourceCodeURL: ""
  dxp.lxc.liferay.com.virtualInstanceId: {{ virtualInstanceId }}