{
	"dependencies": {
		"@liferay/dxp-7.4": "*"
	},
	"name": "{{ nameKebabCase }}",
	"scripts": {
		"build": "liferay build",
		"clean": "liferay clean",
		"deploy": "liferay deploy"
	},
	"version": "1.0.0"
}